version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    groups:
      all-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "build"
      include: "scope"
